.team-profile-back-button {
  cursor: pointer;
  display: inline-block;
  font-weight: bold;
  margin: 0;
  padding-left: 0;
  position: relative;
  transition: all 200ms ease-in-out;
}

.team-profile-back-button::before {
  content: 'â†';
  display: inline-block;
  left: 0;
  opacity: 0;
  position: absolute;
  transition: all 200ms ease-in-out;
  width: 24px;
}

.team-profile-back-button:hover {
  padding-left: 12px;
}

.team-profile-back-button:hover::before {
  left: -12px;
  opacity: 1;
}

.team-profile-header {
  align-items: center;
  display: flex;
  margin: 48px 0;
}

.team-profile-logo-container {
  align-items: center;
  display: flex;
  height: 150px;
  justify-content: center;
  margin: 0 48px 0 0;
  width: 150px;
}

.team-profile-logo {
  max-height: 100%;
  width: auto;
}

.team-profile-data {
  border-left: 2px solid #000;
  padding: 16px 48px;
}

.team-profile-display-name {
  margin: 0 0 36px 0;
}

.team-profile-info-line {
  align-items: center;
  display: flex;
  margin: 16px 0;
}

.team-profile-info-line > p {
  margin: 0;
}

.results-header {
  border-image: linear-gradient(to right, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0))
    0 0 100%;
  border-style: solid;
  border-width: 1px;
}

.fixtures-container {
  display: flex;
  flex-direction: column-reverse;
}

.fixture-row {
  align-items: center;
  border-bottom: 1px solid #e0e0e0;
  display: flex;
  justify-content: space-between;
  padding: 16px 0;
}

.fixture-row:nth-of-type(1) {
  border-bottom: none;
}

.fixture-row-result {
  align-items: center;
  display: flex;
  flex: 3;
  justify-content: space-between;
}

.fixture-row-date {
  flex: 2;
}

.fixture-row-item {
  margin: 0;
}

.fixture-row-score {
  flex-shrink: 0;
  margin-left: 16px;
}

.team-profile-record-row {
  display: flex;
}

.team-profile-record-row > p {
  margin: 0;
}

.team-profile-record-row > p:nth-of-type(1) {
  font-weight: bold;
  margin-right: 8px;
}

.team-profile-info-icon {
  height: 24px;
  margin-right: 8px;
}

.ground-icon {
  background-color: #fff;
  filter: invert(1);
  padding: 1px 0;
  transform: rotate(90deg);
}

.chart-container {
  display: flex;
}

@media only screen and (max-width: 768px) {
  .team-profile-header {
    flex-direction: column;
  }

  .team-profile-logo {
    margin: 0 0 48px 0;
  }

  .team-profile-data {
    border-left: none;
    border-top: 2px solid #000;
    padding: 24px 16px;
    width: 95%;
  }

  .fixture-row-result {
    flex: 2;
  }

  .fixture-row-date {
    flex: 1;
  }
}
