.chart-container {
  display: flex;
}

.chart-container > svg {
  max-width: 100%;
}

.sparkline-stats {
  display: flex;
  flex-direction: column;
  margin-left: 32px;
}

.sparkline-stat-item {
  font-weight: bold;
  margin: 8px 0;
}

.sparkline-stat-item > span {
  font-size: 32px;
}

@media only screen and (max-width: 768px) {
  .chart-container {
    flex-direction: column;
    padding: 24px 16px;
  }

  .sparkline-stats {
    margin-left: 0;
  }
}
