.sparkline-stats {
  display: flex;
  flex-direction: column;
  margin-left: 32px;
}

.sparkline-stat-item {
  font-weight: bold;
  margin: 8px 0;
}

.sparkline-stat-item > span {
  font-size: 32px;
}
