.league-header {
  margin-top: 0;
}

.filter-selectors-container {
  display: flex;
  margin-bottom: 32px;
}

.filter-selectors-container > * {
  flex: 1;
}

.filter-selectors-container > *:first-of-type {
  margin-right: 16px;
}

.matchday-selector-label {
  width: 50%;
}

.matchday-selector {
  appearance: none;
  background-color: #fff;
  background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%231976d2%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E');
  background-position: right 0.7em top 50%, 0 0;
  background-repeat: no-repeat, repeat;
  background-size: 0.65em auto, 100%;
  border-radius: 4px;
  border-radius: 4px;
  border: 2px solid #1976d2;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14),
    0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
  color: #1976d2;
  display: block;
  font-family: sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.3;
  margin: 8px 0 0 0;
  padding: 0.6em 1.4em 0.5em 0.8em;
  padding: 12px;
  width: 100%;
}

.matchday-selector:disabled {
  cursor: not-allowed;
  opacity: 0.3;
}

.table-row {
  align-items: end;
  border-top: 1px solid #e0e0e0;
  border-left: 4px solid transparent;
  display: grid;
  grid-template-areas: 'position team-name matches-played wins draws loses goals-for goals-against goal-diff points';
  grid-template-columns: 1fr 50% 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  padding: 8px 0 8px 12px;
}

.table-row {
  color: #616161;
}

.club-row {
  cursor: pointer;
  transition: background 100ms ease-in;
  border-top: 1px solid #e0e0e0;
}

.club-row:hover {
  background: rgba(97, 97, 97, 0.1);
}

.club-row.champions-league-group {
  border-left-color: #1976d2;
}

.club-row.champions-league-group:hover {
  background: rgba(25, 118, 210, 0.1);
}

.club-row.champions-league-qualifiers {
  border-left-color: #0097a7;
}

.club-row.champions-league-qualifiers:hover {
  background: rgba(0, 150, 167, 0.1);
}

.club-row.europa-league-group {
  border-left-color: #512da8;
}

.club-row.europa-league-group:hover {
  background: rgba(81, 45, 168, 0.1);
}

.club-row.europa-league-qualifiers {
  border-left-color: #689f38;
}

.club-row.europa-league-qualifiers:hover {
  background: rgba(104, 159, 56, 0.1);
}

.club-row.relegation-playoff {
  border-left-color: #ffa000;
}

.club-row.relegation-playoff:hover {
  background: rgba(255, 160, 0, 0.1);
}

.club-row.relegation {
  border-left-color: #d32f2f;
}

.club-row.relegation:hover {
  background: rgba(211, 47, 47, 0.1);
}

.position {
  grid-area: position;
}

.team-name {
  align-items: center;
  display: flex;
  grid-area: team-name;
}

.shortened-name {
  display: none;
}

.team-logo-container {
  display: flex;
  height: 24px;
  justify-content: center;
  margin-right: 24px;
  width: 24px;
}

.team-logo {
  max-height: 24px;
  max-width: 24px;
}

.matches-played {
  grid-area: matches-played;
}

.wins {
  grid-area: wins;
}

.draws {
  grid-area: draws;
}

.loses {
  grid-area: loses;
}

.goals-for {
  grid-area: goals-for;
}

.goals-against {
  grid-area: goals-against;
}

.goal-diff {
  grid-area: goal-diff;
}

.points {
  grid-area: points;
  font-weight: bold;
}

.key-row {
  font-weight: bold;
  background: #fafafa;
  border-top: none;
  position: sticky;
  top: 0;
}

.key {
  margin-top: 32px;
}

.key > h4 {
  border-width: 1px;
  border-style: solid;
  border-image: linear-gradient(to right, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0))
    0 0 100%;
  margin: 0 0 12px 0;
}

.key-container {
  align-items: center;
  display: flex;
}

.key-container > p {
  margin: 4px 0;
}

.key-item {
  height: 12px;
  width: 12px;
  margin-right: 16px;
}

.champions-league-key {
  background-color: #1976d2;
}

.champions-league-qualifiers-key {
  background-color: #0097a7;
}

.europa-league-group-key {
  background-color: #512da8;
}

.europa-league-qualifiers-key {
  background-color: #689f38;
}

.relegation-playoff-key {
  background-color: #ffa000;
}

.relegation-key {
  background-color: #d32f2f;
}

@media only screen and (max-width: 768px) {
  .filter-selectors-container {
    flex-direction: column;
  }

  .matchday-selector-label {
    margin-bottom: 16px;
    width: 100%;
  }

  .table-row {
    grid-template-areas: 'position team-name matches-played wins draws loses goal-diff points';
    grid-template-columns: 1fr 33% 1fr 1fr 1fr 1fr 1fr 1fr;
  }

  .key-row {
    border-bottom: none;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14),
      0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 5px 5px 0 rgba(0, 0, 0, 0.2);
    margin: 0 -16px;
    padding: 12px 16px;
    top: 69px;
    z-index: 2;
  }

  .goals-for,
  .goals-against {
    display: none;
  }

  .shortened-name {
    display: block;
  }

  .full-name {
    display: none;
  }
}
